$def with (header, description, run_data)

<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" href="/">Home</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
  </ul>
</nav>
$if 'status_messages' in run_data:
    $for status_message in run_data['status_messages']:
        $if status_message['status'] == 'success':
            <div class="alert alert-success alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Success!</strong> <br> $:status_message['message'].replace('\n', '<br>')
            </div>
        $elif status_message['status'] == 'failure':
            <div class="alert alert-danger alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Failure!</strong> <br> $:status_message['message'].replace('\n', '<br>')
            </div>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">$header</h1>
    $if description is not None:
        <p>$description</p>
  </div>
</div>